@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PoppinsBold';
  src: url('./assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope-Light.ttf') format('truetype');
  src: url('./assets/fonts/Manrope-Medium.ttf') format('truetype');
  src: url('./assets/fonts/Manrope-SemiBold.ttf') format('truetype');
  src: url('./assets/fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: 400 500 600 700;
  font-style: normal;
}
*, body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}